<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>

		<services>
			<service name="WCFPOPS.POPS" behaviorConfiguration="POPSServiceBehaviour">
				<endpoint name="httpEndPoint" address="http://localhost:1234/POPS"
						  binding="basicHttpBinding"
						  contract="WCFPOPS.IPOPS">
				</endpoint>
			</service>
		</services>
		
	</system.serviceModel>

	<behaviors>
		<serviceBehaviors>
			<behavior name="POPSServiceBehaviour">
				<serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:1234/POPS"/>
			</behavior>
		</serviceBehaviors>
	</behaviors>
	
</configuration>